#short_title {
    font-size: 1.35em;
}

.homepage-content {
    text-align: center
}

#title_input {
    width: 500px
}

h1 a {
    color: var(--font-color);
    border: none;
    text-decoration: none;
}

input, button {
    font-family: inherit;
    font-size: inherit;
    height: 36px;
    margin: 20px 0px;
    margin-top: 35px;
}

.greyed {
    color: grey;
}

#wrapper {
    height:50px;
}
